<p id="notice"><%= notice %></p>

<p>
  <b>Query:</b>
  <%= @stream.query %>
</p>

<p>
  <b>Url:</b>
  <%= @stream.url %>
</p>


<%= link_to 'Edit', edit_stream_path(@stream) %> |
<%= link_to 'Back', streams_path %>
